.header-image{
    width: 100%;
    margin: auto;
    display: block;
    background-color:white;
    text-align: center;
    }
    #nav-bar{
        overflow: hidden;
    text-align: center;
    
        width: 100%;
        top:57px;
    }
    .nav-links{
    color: black;
    text-decoration: none;
    text-align: center;
    font-size: 15px;
    padding: 15px 40px;
    float: left;
    transition: background .5s ease;
    }
    .nav-links:hover{
        background-color: blue;
    }
    h1{
        text-align: center;
    }
    #Email{
    display:block;
    margin:auto;
    padding: 8px;
    border-radius: 6px;
    border:none;
    width: 230px;
    background-color:black;
    margin-top: 20px;
    color: white;
    
    }
    #submit{
        display:block;
    margin:auto;
    padding: 8px;
    border-radius: 6px;
    border:none;
    width: 150px;
    background-color:black;
    margin-top: 30px;
    color: white;
    
    }
    .text{
        width: 700px;
        margin:auto;
        margin-top: 100px;
    
    }
    h2{
        color: blue;
    }
    h3{
        background-color: black;
    }
    #video{
        display:block;
        margin:auto;
        padding: 5px;
        margin-top: 20px;
        margin-bottom: 100px;
        align-content: center;
        margin-left: 320px;
        }